In [ ]:
# What is Data assessing Data?

# The data analysis process consists of the flowing steps:
    # 1. Asking Questions
    # 2. Data Wrangling
        # a. Gathering Data
            # i. CSV Files
            # ii. APIs
            # iii. Web Scraping 
            # iv. Databases
        # b. Assessing Data
        # c. Cleaning Data
    # 3. Exploratory Data Analysis
    # 4. Drawing Conclusion
    # 5. Communication results

# Data assessing means checking data quality before analysis.
# Types of unclean Data
# There are two types  of unclean data
    # 1. Dirty Data (with quality issues): Also known low quality data. Has content issues
    # 2. Messy Data (with tidiness issues): Also known as untidy data. Has structural issues

# Dirty Data: When the data has following kind of issues called dirty data
    # 1. Duplicated Data
    # 2. Missing Data
    # 3. Corrupt Data
    # 4. Inaccurate Data
# Messy Data: When the data has structural issue is it known as messy or untidy data
    # Tidy data has the following properties:
        # 1. Each variables form a column
        # 2. Each observation forms a row
        # 3. Each observational unit forms a table
    # If a data violates any one of the above it is know as untidy data

# Type of Assessment: There 2 types of assessment
    # 1. Manual-Looking through the data manually in googles sheets
    # 2. Programmatic- by using pandas function susc as info(), describe(), sample()

In [25]:
# Programatic Assesment
import pandas as pd

# Import Dataset
Cafe=pd.read_csv('dirty_cafe_sales.csv')
Cafe

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [26]:
# Check summary of a dataset
Cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [ ]:
# Statistics for each column
Cafe.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [16]:
# Finding missing value in a column
Cafe['Item'].isnull()
# Shows rows where item is Null
Cafe[Cafe['Item'].isnull()]
# Find total null value in a column
Cafe['Item'].isnull().sum()
# Find total null value
Cafe.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [21]:
# Collect Random SAmple
Cafe.sample(5)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9315,TXN_9881555,UNKNOWN,5,3.0,15.0,Cash,In-store,2023-04-09
5336,TXN_9910333,Cake,2,3.0,6.0,NaN,In-store,2023-09-15
8581,TXN_8488163,Sandwich,4,4.0,UNKNOWN,UNKNOWN,NaN,2023-01-19
7128,TXN_4183749,Cake,4,3.0,12.0,Credit Card,Takeaway,2023-01-25
617,TXN_1921262,Sandwich,NaN,4.0,8.0,ERROR,ERROR,2023-11-24

In [29]:
# Any Duplicated VAlue
Cafe['Item'].duplicated()
Cafe[Cafe['Item'].duplicated()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07